<!DOCTYPE html>
<html>
  <head>
    <title>Your AO</title>
    {# <link href="{{ urlfor('static' , filename='css/yourcss.css'}}"> #}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
    <script src="nyria.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {# <h1>{{ heading }}</h1>
    <p>{{ content }}</p> #}

        <section class="relative">

      {# {/* Illustration behind hero content */} #}
      <div class="absolute left-1/2 transform -translate-x-1/2 bottom-0 pointer-events-none -z-1" aria-hidden="true">
        <svg width="1360" height="578" viewBox="0 0 1360 578" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="illustration-01">
              <stop stopColor="#FFF" offset="0%" />
              <stop stopColor="#EAEAEA" offset="77.402%" />
              <stop stopColor="#DFDFDF" offset="100%" />
            </linearGradient>
          </defs>
          <g fill="url(#illustration-01)" fillRule="evenodd">
            <circle cx="1232" cy="128" r="128" />
            <circle cx="155" cy="443" r="64" />
          </g>
        </svg>
      </div>

      <div class="max-w-6xl mx-auto px-4 sm:px-6">

        {# {/* Hero content */} #}
        <div class="pt-16 pb-2 md:pt-16 md:pb-12">

          {# {/* Section header */} #}
          <div class="text-center pb-12 md:pb-16">
            <h1 class="text-5xl md:text-6xl font-extrabold leading-tighter tracking-tighter mb-4">Be the <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-teal-400">AO</span></h1>
            <div class="max-w-3xl mx-auto">
              <p class="text-xl text-gray-600 mb-8">Correct distorted wavefronts with your voice – take control of your deformable mirror 🪞</p>
              <div class="max-w-xs mx-auto sm:max-w-none sm:flex sm:justify-center">
                <div>
                  <button class="px-8 py-3 shadow-lg text-white bg-blue-600 hover:bg-blue-700 w-full mb-4 sm:w-auto sm:mb-0" onclick='startRecording()'>Start recording</button>
                </div>
                <div>
                  <button class="px-8 py-3 shadow-lg text-white bg-gray-900 hover:bg-gray-800 w-full sm:w-auto sm:ml-4" onclick='stopRecording()'>Stop recording</button>
                </div>
              </div>
            </div>
          </div>

          {# {/* Hero image */} #}
          <img class="mx-auto" src="atm_cartoon.png" width="500" alt="Hero" />

        </div>

      </div>
    </section>
    <div class="image-container flex justify-center"></div>
      <img src="" id="img_wf" class="mx-auto"/>
    </div>

    <br/>
    {# <div>WebSocket: <span id="webSocketStatus">Not Connected</span></div> #}
  </body>
 
</html>
