annotated-types
anyio
blas
brotli
brotli-bin
brotli-python
bzip2
ca-certificates
certifi
cffi
charset-normalizer
click
contourpy
cryptography
cycler
fastapi
ffmpeg
filelock
fonttools
freetype
gettext
giflib
gmp
gmpy2
gnutls
h11
httptools
icu
idna
jinja2
jpeg
kiwisolver
lame
lcms2
lerc
libbrotlicommon
libbrotlidec
libbrotlienc
libcxx
libdeflate
libffi
libgfortran
libgfortran5
libiconv
libidn2
libjpeg-turbo
libopenblas
libopus
libpng
libtasn1
libtiff
libunistring
libvpx
libwebp
libwebp-base
libxml2
llvm-openmp
lz4-c
markupsafe
matplotlib
matplotlib-base
mpc
mpfr
mpmath
munkres
ncurses
nettle
networkx
numpy
numpy-base
openh264
openjpeg
openssl
packaging
pillow
pip
pycparser
pydantic
pydantic-core
pydub
pyopenssl
pyparsing
pysocks
python
python-dateutil
python-dotenv
pytorch
pyyaml
readline
requests
scipy
setuptools
six
sniffio
sqlite
starlette
sympy
tk
torchaudio
torchvision
tornado
typing-extensions
tzdata
urllib3
uvicorn
uvloop
watchfiles
websockets
wheel
x264
xz
yaml
zlib
zstd